# Ignorar carpetas de build y distribución
build/
dist/
snake_portable/
__pycache__/
*.pyc
snake_portable
.qodo

# Ignorar archivos de PyInstaller
*.spec

# Ignorar archivos temporales de sistema
.DS_Store
Thumbs.db

# Ignorar entornos virtuales (si usas)
.venv
venv/
.env/

# Ignorar backups o copias
assets-copia/

.vscode
.vs